
body {
    margin: 0;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 4px;
    justify-content: center;
}

.image {
    background-color: black;
    height: 15rem;
}

.image img{
    width: 19rem;
    height: 15rem;
}

.image img:hover {
    cursor: pointer;
    opacity: 0.70;
}

.enlarged-photo-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.enlarged-photo-container {
    max-width: 42%;
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-size: auto 100%;
    background-position: center;
}

.enlarged-photo-container img {
    max-width: 100%;
    max-height: 100%;
    margin: 0; /*aqui foi sacada genial*/
}

.modal {
    max-width: 87%;
    max-height: 90%;
    margin-left: 13%;
}

.descriptionModal {
    background-color: #fff;
    max-width: 42%;
    height: 93%;
    margin-right: 0%;
    border-left: 1px solid #c6c6c6;
}

@media screen and (max-width: 1300px) {
    .image {
        height: 12rem;
    }
    
    .image img{
        width: 16rem;
        height: 12rem;
    }

    
    .enlarged-photo-container {
        max-width: 50%;
        max-height: 80%;
    }
    
    .enlarged-photo-container img {
        max-width: 100%;
        max-height: 100%;
        margin: 0; /*aqui foi sacada genial*/
    }
    
    .modal {
        max-width: 87%;
        max-height: 100%;
    }

    .descriptionModal {
        max-width: 42%;
        max-height: 80%;
    }
    
}

@media screen and (max-width: 1100px) {
    .image {
        height: 10rem;
    }
    
    .image img{
        width: 14rem;
        height: 10rem;
    }

    
    .enlarged-photo-container {
        max-height: 80%;
    }
    
    .enlarged-photo-container img {
        max-width: 100%;
        max-height: 100%;
        margin: 0; /*aqui foi sacada genial*/
    }
    
    .modal {
        max-width: 87%;
        max-height: 100%;
    }

    .descriptionModal {
        max-width: 42%;
        max-height: 80%;
    }
    
    
}



@media screen and (max-width: 760px) {

    .image {
        height: 8rem;
    }
    
    .image img{
        width: 12rem;
        height: 8rem;
    }
    .enlarged-photo-backdrop {
        flex-direction: column;
    }

    .descriptionModal {
        max-width: 60%;
        max-height: 20rem;
        border-radius: 2rem;
    }

    .enlarged-photo-container {
        max-width: 60%;
        max-height: 20rem;
        border-radius: 2rem;
        width: 100%;
    }

    
    .enlarged-photo-container img {
        height: 70%;
    }
   
}

@media screen and (max-width: 675px) {
    .descriptionModal {
        
        max-height: 15rem;
      
    }
}

@media screen and (max-width: 560px) {

    .image {
        height: 8rem;
    }
    
    .image img{
        width: 12rem;
        height: 8rem;
    }

    .enlarged-photo-container {
        max-height: 15rem;
    }
}

@media screen and (max-width: 430px) {
    
    .enlarged-photo-container img {
        height: 50%;
        
    }
    .enlarged-photo-container {
        max-height: 15rem;
    }
}

@media screen and (max-width: 360px) {
    .descriptionModal {
        max-height: 15rem;
        font-size: 1.6rem;
    }
    .enlarged-photo-container img {
        height: 50%;
        width: 100%;
    }
    .enlarged-photo-container {
        max-height: 15rem;
        width: 50rem;
    }
}

@media screen and (max-width: 320px) {
    .descriptionModal {
        max-height: 15rem;
        font-size: 1.6rem;
    }
    .enlarged-photo-container img {
        height: 50%;
        width: 100%;
    }
    .enlarged-photo-container {
        max-height: 15rem;
        width: 50rem;
    }
}

@media screen and (max-width: 270px) {
    .descriptionModal {
        max-height: 14rem;
    }
    .enlarged-photo-container img {
        height: 40%;
        width: 100%;
    }

    .enlarged-photo-container {
        max-height: 14rem;
        width: 50rem;
    }
}